@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #c0b4fa;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  position: relative;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: auto;
}

.primary-btn {
  background-color: #9581fa;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #9581fa;
  font-weight: 200;
}

.primary-btn:hover {
  background-color: rgba(0, 0, 0, 0);
}

.white-text {
  color: #ffffff !important;
}

.title {
  position: relative;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 1000;
  color: #c0b4fa;
  margin-bottom: 3rem;
}

.title:after {
  content: "";
  display: block;
  width: 23rem;
  height: 2px;
  background: #191970;
  top: 50%;
  left: 110%;
  position: absolute;
  background-color: #c0b4fa;
}

.white-title {
  position: relative;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 1000;
  color: #c0b4fa;
  margin-bottom: 3rem;
}

.white-title:after {
  content: "";
  display: block;
  width: 23rem;
  height: 2px;
  background: #191970;
  top: 50%;
  left: 110%;
  position: absolute;
  background-color: #ffffff;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c0b4fa;
  height: 100%;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-hidden {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-6 {
  height: 32px;
  width: 32px;
}

.loader-6 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
}

.loader-6 span::before,
.loader-6 span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loader-6-1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: loader-6-1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@-webkit-keyframes loader-6-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
    opacity: 0;
  }
}

@keyframes loader-6-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
            transform: translate3d(0, 0, 0) scale(1.5);
    opacity: 0;
  }
}

.loader-6 span::after {
  -webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s infinite;
  animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s infinite;
}

@-webkit-keyframes loader-6-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
}

@keyframes loader-6-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
}

.side-menu {
  position: fixed;
  right: 0;
  top: 47.5%;
  z-index: 1;
  max-height: 200px;
  -webkit-animation: slideFromRight 1.5s !important;
          animation: slideFromRight 1.5s !important;
}

.side-menu .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.6rem;
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: #c0b4fa;
}

.side-menu .icon-wrapper a {
  padding: 0.5rem 0rem;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.side-menu .icon-wrapper a:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.side-menu .icon-wrapper a img {
  width: 1.6rem;
}

@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.desktopNavClass {
  -webkit-animation: animateDown 1.5s !important;
          animation: animateDown 1.5s !important;
}

nav {
  background-color: #c0b4fa;
}

nav .nav-container {
  max-width: 1280px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

nav .menu {
  display: none;
}

nav .menu a {
  margin-right: 2rem;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

nav .menu a:hover {
  opacity: 0.4;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

nav .hamburger {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

nav .hamburger:hover span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

nav .hamburger span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes animateDown {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animateDown {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

nav .hamburger.is-active span:nth-child(1) {
  -webkit-transform: translate(0px, -1px) rotate(45deg);
          transform: translate(0px, -1px) rotate(45deg);
  background-color: #c0b4fa;
}

nav .hamburger.is-active span:nth-child(2) {
  opacity: 0;
  background-color: #c0b4fa;
}

nav .hamburger.is-active span:nth-child(3) {
  -webkit-transform: translate(-3px, 1px) rotate(-45deg);
          transform: translate(-3px, 1px) rotate(-45deg);
  background-color: #c0b4fa;
}

nav .hamburger.is-active:hover span {
  background-color: #c0b4fa;
}

.hide {
  display: none;
}

.mobile-nav {
  background-color: white !important;
  position: absolute;
  width: 100%;
  top: -700px;
  left: 0;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-nav a {
  text-decoration: none;
  color: #595959;
  font-size: 1.1rem;
}

.active-nav {
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-learn-more {
  display: none;
}

@-webkit-keyframes animateUp {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animateUp {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hero {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero .hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-animation: animateUp 4s !important;
          animation: animateUp 4s !important;
}

.hero .hero-wrapper .hw-left-side {
  width: 40%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero .hero-wrapper .hw-left-side h1 {
  font-size: 8rem;
  font-weight: 1000;
  line-height: 0.9;
}

.hero .hero-wrapper .hw-right-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero .hero-wrapper .hw-right-side h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0;
  margin-left: 4rem;
  position: absolute;
  top: 2rem;
  left: -4rem;
}

.hero .hero-wrapper .hw-right-side img {
  position: absolute;
  right: -6rem;
}

.hero .learn-more-arrow {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.hero .learn-more-arrow p {
  margin: 0;
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.9;
}

.hero .learn-more-arrow p:hover {
  cursor: pointer;
}

.hero .learn-more-arrow img {
  width: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
}

.hero .learn-more-arrow img:hover {
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about {
  background-color: #ffffff;
  color: #595959;
}

.about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 5rem;
}

.about .about-wrapper .about-left-side p {
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.14;
}

.about .about-wrapper .about-left-side h4 {
  font-weight: 800;
  font-size: 1.1rem;
}

.about .about-wrapper .about-left-side .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.about .about-wrapper .about-left-side .list-wrapper ul {
  margin-right: 4rem;
  line-height: 2;
}

.about .about-wrapper .about-left-side .list-wrapper ul li {
  font-size: 0.9rem;
}

.about .about-wrapper .about-left-side .list-wrapper ul li::marker {
  color: #c0b4fa !important;
  font-size: 1rem !important;
  width: 20px !important;
  height: 20px !important;
}

.about .about-wrapper .about-right-side {
  padding-left: 5rem;
  margin-top: 3rem;
}

.about .about-wrapper .about-right-side .img-container {
  display: inline-block;
  border-radius: 100%;
  width: 17rem;
  height: 17rem;
  padding: 1rem;
  position: relative;
  background-image: url("../assets/profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about .about-wrapper .about-right-side .img-container:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 100%;
  border: solid 1px grey;
  left: -5%;
  top: -5%;
}

.about .about-wrapper .about-right-side .img-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 100%;
  border: solid 1px grey;
  left: -10%;
  top: -10%;
}

.skills {
  padding: 10rem 0rem;
}

.skills .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .card-wrapper .card {
  height: 23rem;
  width: 19.8rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #595959;
  margin: 1rem 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.skills .card-wrapper .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.skills .card-wrapper .card h4 {
  color: #c0b4fa;
  text-align: center;
  padding-bottom: 2rem;
}

.skills .card-wrapper .card img {
  height: 3.5rem;
  margin-bottom: 0.5rem;
}

.skills .card-wrapper .card ul {
  list-style: none;
}

.skills .card-wrapper .card ul li {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.skills .card-wrapper .card ul li::before {
  content: "\2022";
  color: #c0b4fa;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.experience {
  padding: 10rem 0rem;
  background-color: #ffffff;
  color: #595959;
}

.timeline {
  padding: 0rem 2rem;
}

.timeline li {
  padding-bottom: 4rem;
  position: relative;
}

.timeline li::marker {
  color: #c0b4fa;
  font-size: 3rem !important;
}

.timeline li:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #c0b4fa;
  top: 25px;
  left: -31px;
  position: absolute;
}

.timeline li .timeline-content * {
  margin-bottom: 0.2rem;
}

.timeline li .timeline-content h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #9f9f9f;
}

.timeline li .timeline-content h3 {
  font-weight: 500;
  color: black;
  font-size: 1.1rem;
}

.timeline li .timeline-content p {
  line-height: 2;
  color: #828282;
  font-size: 1rem;
}

.work {
  background-color: white;
  padding: 10rem 0rem;
  color: black;
}

.work .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.work .project-card .project-card-img img {
  border: solid 1px #c0b4fa;
  border-radius: 10px;
}

.work .project-card .project-card-info {
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work .project-card .project-card-info .project-card-heading h1 {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.work .project-card .project-card-info .project-card-heading h4 {
  font-weight: 500;
  color: #696969;
}

.work .project-card .project-card-info .project-card-facts ul li {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .project-card .project-card-info .project-card-facts ul li img {
  padding: 0rem 0.7rem 0rem 0.7rem;
}

.work .project-card .project-card-info .project-card-facts ul li:nth-child(1) img {
  padding: 0rem 0.7rem 0rem 0rem;
}

.work .project-card .project-card-info .project-card-facts p {
  line-height: 2;
  font-size: 1rem;
  padding-bottom: 1rem;
  color: #828282;
}

.project-btn {
  background-color: #9581fa;
  padding: 0.7rem 3rem;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.project-btn:hover {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-btn img {
  height: 15px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.project-btn-reverse {
  background-color: white;
  padding: 0.7rem 3rem;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  border: solid 1px #c0b4fa;
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.project-btn-reverse:hover {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-btn-reverse img {
  height: 15px;
}

.project-card-mobile {
  display: none;
}

.contact {
  padding: 20rem 0rem;
}

.contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact .contact-wrapper h1 {
  font-size: 2.1rem;
  font-weight: 1000;
  margin-bottom: 1rem;
}

.contact .contact-wrapper p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 700px;
}

.contact .contact-wrapper a {
  padding: 1.4rem 4.5rem;
  font-weight: 700;
  font-size: 1.1rem;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0rem 1rem 3rem 1rem;
}

footer .footer-wrapper p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #eeeeee;
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none !important;
  }
  .menu {
    display: block !important;
  }
  .mobile-nav {
    display: none !important;
  }
  .hide {
    display: block !important;
  }
  .nav-container {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media screen and (max-width: 500px) {
  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.6rem;
  }
  .white-title {
    font-size: 1.6rem;
  }
  .project-mobile-container {
    padding: 0 !important;
  }
  .container {
    padding: 0rem 2rem;
  }
  .hero .hero-wrapper .hw-left-side h1 {
    font-size: 5rem;
  }
  .hero .hero-wrapper .hw-right-side h5 {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0rem !important;
  }
  .about-wrapper {
    padding: 10rem 1rem 10rem 1rem !important;
  }
  .work .slider figure .projects .project {
    margin: 2rem;
    position: relative;
    width: 321px;
    height: 236px;
  }
  .project-overlay {
    width: 100%;
    height: 100%;
  }
  .project-overlay h3 {
    padding-bottom: 1rem !important;
  }
  .project-overlay p {
    padding-bottom: 1rem !important;
  }
  .overlay-desc p {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2em;
    line-height: 2;
  }
  .overlay-btns a {
    margin-bottom: 0.5rem;
  }
  .overlay-btns img {
    height: 16px !important;
    width: 16px !important;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0% 2% 0% 2%;
  }
  .hero .learn-more-arrow {
    display: none !important;
  }
  .hero .mobile-learn-more {
    display: block !important;
    width: 160px;
    padding: 1rem 0rem;
    margin-top: 3rem;
  }
  .title:after {
    display: none;
  }
  .white-title:after {
    display: none;
  }
  .side-menu {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .project-card {
    display: none !important;
  }
  .project-card-mobile {
    display: inline;
    text-align: center;
    padding: 0% 2% 0% 2%;
  }
  .project-card-mobile .project-card-mobile-img {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
  }
  .project-card-mobile .project-card-mobile-img:hover .middle,
  .project-card-mobile .project-card-mobile-img:active .middle,
  .project-card-mobile .project-card-mobile-img:focus .middle {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .project-card-mobile .project-card-mobile-img .main-proj-img {
    width: 80%;
    height: 100%;
    border: solid 2px #c0b4fa;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
  }
  .project-card-mobile .project-card-mobile-img .middle {
    width: 80%;
    border: solid 2px #c0b4fa;
    height: 100%;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 5%;
  }
  .project-card-mobile .project-card-mobile-img .middle .proj-overlay-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project-card-mobile .project-card-mobile-img .middle .proj-overlay-text h1 {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
  }
  .project-card-mobile .project-card-mobile-img .middle .proj-overlay-text h4 {
    font-weight: 500;
    color: #696969;
  }
  .project-card-mobile .project-card-mobile-img .middle .proj-overlay-text p {
    line-height: 2;
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #828282;
  }
  .project-card-mobile .project-card-mobile-img .middle .proj-overlay-text .overlay-btns img {
    height: 30px;
    width: 30px;
  }
  @-webkit-keyframes zIndex {
    0% {
      pointer-events: none;
    }
    100% {
      pointer-events: visible;
    }
  }
  @keyframes zIndex {
    0% {
      pointer-events: none;
    }
    100% {
      pointer-events: visible;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0% 2% 0% 2%;
  }
  .hero .hero-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .hero-wrapper .hw-left-side {
    width: 100% !important;
  }
  .hero .hero-wrapper .hw-right-side {
    width: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-wrapper .hw-right-side img {
    display: none !important;
  }
  .hero .hero-wrapper .hw-right-side h5 {
    position: static;
    margin-left: 0 !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .about .about-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
  }
  .about .about-wrapper .about-right-side {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 0rem;
    margin-top: 4rem;
  }
  .title:after {
    width: 50%;
  }
  .work .slider figure .projects {
    padding: 0rem !important;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */